
/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */

:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
}

/* TYPOGRAPHY */

body {
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    text-align: center;
}

h1 {
    color: var(--very-dark-magenta);
}

h2 {
    color: var(--dark-grayish-magenta);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.rating p {
    color: var(--very-dark-magenta);
    font-weight: 700;
}

.testimonial {
    color: white;
}

/* LAYOUT */

body {
    background: url("./images/bg-pattern-top-mobile.svg") no-repeat,
                url("./images/bg-pattern-bottom-mobile.svg") no-repeat bottom;
    padding: 1em 1.4em 1em 1.4em;
}

h1 {
    margin-top: 1.5em;
    padding: 0 1.1em 0 1.1em;
    font-size: 2.5rem;
}

h2 {
    margin-top: 1.3em;
}

.ratings {
    margin-top: 1.5em;
}

.rating {
    background-color: var(--light-grayish-magenta);
    margin-top: 1em;
    padding: 1em;
    border-radius: 8px;
}

.rating-stars {
    color: orange;
}

.rating p {
    margin-top: 1em;
}

.testimonials {
    padding-top: 2em;
}

.testimonial {
    background-color: var(--very-dark-magenta);
    border-radius: 8px;
    margin-top: 1em;
}

.testimonial-header {
    display: flex;
    flex-direction: row;
}